<ul>
  <% @user.created_events.each do |event| %>
    <li>
        Creator: <%= @user.username %>
        <div>
          Title: <%= event.title %>
        </div>
        <div>
          Details: <%= event.description %>
        </div>
    </li>
  <% end %>
</ul>

<div>
  attended events:
  <ul>
    in the past:
      <% @user.attendances.where("start_date < ? ", Date.current).each do |e| %>
        <li> Title: <%= link_to e.title, e %> </li>
      <% end %>
  </ul>
  <ul>
    in the future:
      <% @user.attendances.where("start_date > ? ", Date.current).each do |e| %>
        <li> Title: <%= link_to e.title, e %> </li>
      <% end %>
  </ul>
</div>
