Hi! Here's the events we have available

<ul>
  <% @events.each do |event| %>
    <li>
        Creator: <%= User.find(event.creator_id).username %>
        <div>
          Title: <%= link_to event.title, event %>
        </div>
        <div>
          Details: <%= event.description %>
        </div>
    </li>
  <% end %>
</ul>



<%= button_to "Create Event", new_event_url, method: :get %><br />
<%= button_to "Sign out", destroy_user_session_url, method: :delete %>
<%= link_to "Sign in", new_user_session_url %>
