<div>
  <%= render "shared/header_links" %>
</div><br />

Hi! Here's the events we have available
<% if current_user %>
  <p>You're signed in as <%= current_user.username %>
<% else %>
  <p>You're here as a guest </p>
<% end %>

<div>
  <%= render "past_events" %>
</div>

<div>
  <%= render "upcoming_events" %>
</div>


<%= button_to "Create Event", new_event_url, method: :get %><br />
<%= button_to "Sign in", new_user_session_url, method: :get %><br />
<%= button_to "Sign out", destroy_user_session_url, method: :delete %>
