Hi! Here's the events we have available

<ul>
  <% @events.each do |event| %>
    <li>
        Creator: <%= User.find(event.creator_id).username %>
        <div>
          Title: <%= link_to event.title, event %>
        </div>
        <div>
          Details: <%= event.description %>
        </div>
    </li>
  <% end %>
</ul>

<div>
  events:
  <ul>
    Past events:<br /><br />
      <% Event.past.each do |e| %>
        <li style="border: 1px solid black">
          Title: <%= link_to e.title, e %><br />
          Details: <%= e.description %><br />
          Creator: <%= User.find(e.creator_id).username %>
        </li>
      <% end %>
  </ul>
  <ul>
    Future events:<br /><br />
      <% Event.upcoming.each do |e| %>
        <li style="border: 1px solid black">
          Title: <%= link_to e.title, e %><br />
          Details: <%= e.description %><br />
          Creator: <%= User.find(e.creator_id).username %>
        </li>
      <% end %>
  </ul>
</div>


<%= button_to "Create Event", new_event_url, method: :get %><br />
<%= button_to "Sign out", destroy_user_session_url, method: :delete %>
<%= link_to "Sign in", new_user_session_url %>
