<ul>
    <li>
        Creator: <%= @event.organizer %>
        <div>
          Title: <%= @event.title %>
        </div>
        <div>
          Start date: <%= @event.start_date %>
        </div>
        <div>
          Start time: <%= @event.start_time %>
        </div>
        <div>
          Ent date: <%= @event.end_date %>
        </div>
        <div>
          End time: <%= @event.end_time %>
        </div>
        <div>
          Description: <%= @event.description %>
        </div>
    </li>
</ul>

<%= button_to "Attend Event", event_attendances_url(attendance: {attended_event_id: @event.id, attendee_id: current_user.id} ) %><br />
