<div>
  <%= render "shared/header_links" %>
</div><br />

<div>
  <%= render "event_info" %>
</div>

                <li style="list-style-type: none;">
                  <%= b.check_box %>
                  <%= b.label  %>
                </li>
                <% end %><br />
                <%= f.submit "Cancel Invitations"%>
            <% end %><br>
          </div>
        <% end %>
    </li>
</ul>

<div>
  <%= render "event_attendance" %>
</div>

<div>
  <%= render "event_editability" %>
</div>


