<div>
  <%= render "shared/header_links" %>
</div><br />

<div>
  <%= render "event_info" %>
</div>

<div>
  <%= render "event_invitations", invitation: Invitation.new ,inviteable: @inviteable, cancellable: @cancellable %>
</div>

<div>
  <%= render "event_attendance" %>
</div>

<div>
  <%= render "event_editability" %>
</div>


