<div>
  <%= render "shared/header_links" %>
</div><br />

<div>
  <%= render "event_info" %>
</div>

                <li style="list-style-type: none;">
                  <%= b.check_box %>
                  <%= b.label  %>
                </li>
                <% end %><br />
                <%= f.submit "Cancel Invitations"%>
            <% end %><br>
          </div>
        <% end %>
    </li>
</ul>

<div>
  <%= render "event_attendance" %>
</div>

  <% if current_user && @event.creator_id == current_user.id  %>
    <%= button_to "Edit event", edit_event_url(@event), method: :get %><br />

    <%= button_to "Cancel event", event_url(@event), method: :delete, data: {turbo_confirm: "Are you sure?"} %><br />
  <% end %>

