<div>
<%= render "shared/header_links" %>
</div>

<ul>
    <li>
        Creator: <%= @event.organizer %>
        <div>
          Title: <%= @event.title %>
        </div>
        <div>
          Start date: <%= @event.start_date %>
        </div>
        <div>
          Start time: <%= @event.start_time.to_fs(:time) %>
        </div>
        <div>
          Ent date: <%= @event.end_date %>
        </div>
        <div>
          End time: <%= @event.end_time.to_fs(:time) %>
        </div>
        <div>
          Description: <%= @event.description %>
        </div>
        <div>
          This event is <%= @event.visibility %>. To change its visibility, click <%= link_to "here", edit_event_url(@event) %>
        </div>

    </li>
</ul>

<div>
  attendees:
  <ul>
      <% @event.attendees.each do |a| %>
        <li> <%= a.username %> </li>
      <% end %>
  </ul>
</div>

  <% if current_user && @event.creator_id == current_user.id  %>
    <%= button_to "Edit event", edit_event_url(@event), method: :get %><br />

    <%= button_to "Cancel event", event_url(@event), method: :delete, data: {turbo_confirm: "Are you sure?"} %><br />
  <% end %>

  <% if @event.attendees.include?(current_user) %>
    <%= button_to "Cancel my attendance", event_attendance_url(attendance: {attended_event_id: @event, attendee_id: current_user} ), method: :delete %><br />
  <% else %>
    <%= button_to "Attend Event", event_attendances_url(attendance: {attended_event_id: @event, attendee_id: current_user} ) %><br />
  <% end %>
